In [1]:
import pandas as pd  # pandas
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
trainset_name = "../datasets/train1.csv"

##  SVM model
példa: https://www.datacamp.com/community/tutorials/svm-classification-scikit-learn-python

Csak numerikus magyarázó változók

In [3]:
import pandas as pd  # pandas
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

In [4]:
df_train = pd.read_csv(trainset_name, sep=",")

In [5]:
df_train.head()

,Unnamed: 0,device_id,events_num,min_timestamp,max_timestamp,events_per_day,label_548,label_i_548,label_704,label_i_704,...,label_787,label_i_787,label_22222,label_i_22222,gender,age,group,phone_brand,device_model,phone_brand_eng
0,0,-8260683887967679142,1,2016-05-01 14:23:37,2016-05-01 14:23:37,0.000000,5,30,3,24,...,0,0,4,102,M,35,M32-38,小米,MI 2,Xiaomi
1,1,7477216237379271436,3,2016-05-04 14:08:17,2016-05-06 18:51:15,0.065502,31,29,25,17,...,3,0,27,78,F,37,F33-42,华为,荣耀6 plus,Huawei
2,2,6352067998666467520,11,2016-05-03 22:14:30,2016-05-05 17:27:58,0.072820,70,34,57,19,...,11,0,211,103,M,32,M32-38,华为,荣耀畅玩4X,Huawei
3,3,1508636020748379883,5,2016-05-01 12:41:38,2016-05-05 12:34:15,0.198975,50,39,38,36,...,2,3,69,80,F,28,F27-28,华为,荣耀畅玩4X,Huawei
4,4,-6876541075223249434,6,2016-05-01 02:51:41,2016-05-06 16:30:01,0.094715,63,187,46,162,...,0,0,126,520,M,75,M39+,魅族,魅蓝NOTE,Meizu

In [6]:
## TODO : nan, infiniti -> 0
df_train.replace([np.inf, -np.inf], np.nan, inplace=True)
df_train.fillna(0, inplace=True)

In [7]:
# a device_model-t transzformáljuk

In [8]:
factor = pd.factorize(df_train['phone_brand_eng'])
df_train.phone_brand_eng = factor[0]
definitions_phone_brand_eng = factor[1]
factor = pd.factorize(df_train['device_model'])
df_train.device_model = factor[0]
definitions_device_model = factor[1]
factor = pd.factorize(df_train['gender'])
df_train.gender = factor[0]
definitions_gender = factor[1]

In [9]:
len(df_train.groupby("group").count())

12

In [10]:
magyarazo_valtozok = []
for m in df_train.columns:
    if (m not in ['Unnamed: 0', 'device_id', 'min_timestamp', 'max_timestamp', 'group', 'gender', 'age', 'phone_brand' ]) and (not m.startswith('yyylabel_i_')):
        magyarazo_valtozok += [m]
#magyarazo_valtozok
X_train, X_test, y_train, y_test = train_test_split(df_train[magyarazo_valtozok], df_train['group'], test_size=0.3,random_state=109) # 70% training and 30% test

In [11]:
magyarazo_valtozok

['events_num',
 'events_per_day',
 'label_548',
 'label_i_548',
 'label_704',
 'label_i_704',
 'label_549',
 'label_i_549',
 'label_405',
 'label_i_405',
 'label_713',
 'label_i_713',
 'label_730',
 'label_i_730',
 'label_302',
 'label_i_302',
 'label_756',
 'label_i_756',
 'label_251',
 'label_i_251',
 'label_303',
 'label_i_303',
 'label_1007',
 'label_i_1007',
 'label_775',
 'label_i_775',
 'label_710',
 'label_i_710',
 'label_783',
 'label_i_783',
 'label_714',
 'label_i_714',
 'label_786',
 'label_i_786',
 'label_252',
 'label_i_252',
 'label_721',
 'label_i_721',
 'label_172',
 'label_i_172',
 'label_779',
 'label_i_779',
 'label_757',
 'label_i_757',
 'label_959',
 'label_i_959',
 'label_960',
 'label_i_960',
 'label_306',
 'label_i_306',
 'label_782',
 'label_i_782',
 'label_263',
 'label_i_263',
 'label_128',
 'label_i_128',
 'label_777',
 'label_i_777',
 'label_179',
 'label_i_179',
 'label_787',
 'label_i_787',
 'label_22222',
 'label_i_22222',
 'device_model',
 'phone_brand_eng']

In [12]:
X_train.head()

,events_num,events_per_day,label_548,label_i_548,label_704,label_i_704,label_549,label_i_549,label_405,label_i_405,...,label_777,label_i_777,label_179,label_i_179,label_787,label_i_787,label_22222,label_i_22222,device_model,phone_brand_eng
19005,13,0.028535,59,83,35,56,53,61,1,13,...,0,0,1,6,0,0,15,140,663,49
16901,1,0.000000,0,40,0,27,0,26,0,22,...,0,2,0,6,0,2,1,109,14,0
14056,1,0.000000,4,10,3,7,3,5,1,1,...,0,0,0,2,0,0,5,14,191,13
6853,102,0.009288,680,483,495,350,249,179,126,242,...,31,69,0,21,31,69,676,1470,24,1
23012,7,0.041096,65,338,48,214,31,214,7,102,...,2,16,1,36,2,16,66,1082,58,13

In [13]:
# normalizálás
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler().fit(X_train)  
X_train_scd = pd.DataFrame(scaler.transform(X_train))
X_train_scd.columns = X_train.columns
X_test_scd = pd.DataFrame(scaler.transform(X_test))
X_test_scd.columns = X_test.columns
X_test_scd.head()

,events_num,events_per_day,label_548,label_i_548,label_704,label_i_704,label_549,label_i_549,label_405,label_i_405,...,label_777,label_i_777,label_179,label_i_179,label_787,label_i_787,label_22222,label_i_22222,device_model,phone_brand_eng
0,-0.488876,3.128747,-0.352905,-0.266222,-0.362015,-0.269847,-0.346342,-0.221279,-0.269263,-0.299691,...,-0.190134,-0.238576,-0.261641,-0.213818,-0.186456,-0.236175,-0.321315,-0.254487,0.919046,-0.632922
1,-0.307783,-0.512686,-0.186721,-0.281207,-0.185414,-0.269847,-0.248657,-0.276162,-0.232871,-0.246997,...,-0.190134,-0.262718,0.027901,-0.263622,-0.186456,-0.261446,-0.211943,-0.218632,-0.066036,0.328026
2,-0.330419,-0.375561,-0.325587,0.100907,-0.351827,0.186103,-0.302927,0.099781,-0.240149,-0.092429,...,-0.096830,-0.129936,-0.261641,0.085004,-0.092484,-0.122451,-0.293972,-0.053789,-0.743279,0.190748
3,-0.058780,-0.076201,-0.309652,0.234273,-0.297488,0.258543,-0.277601,0.206801,-0.269263,-0.011632,...,-0.190134,-0.093723,-0.261641,-0.139113,-0.186456,-0.084543,-0.309427,0.086131,-0.650928,-0.358365
4,-0.466239,3.122378,-0.334693,-0.272216,-0.334846,-0.261324,-0.328252,-0.256953,-0.269263,-0.254023,...,-0.190134,-0.142008,-0.232687,-0.226269,-0.186456,-0.135087,-0.304672,-0.251863,1.263824,4.720931

In [15]:
#Create a svm Classifier
clf = svm.SVC(kernel='rbf') # Linear Kernel rbf/linear
#Train the model using the training sets
clf.fit(X_train_scd, y_train)
#Predict the response for test dataset
y_pred = clf.predict(X_test_scd)

In [16]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.1660968660968661